.mapcontainar{
    padding: 30px;
    padding-top: 100px;
}
#map{
    height: 700px;
}

html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px 100px 15px 100px;
    background: rgba(195, 220, 197, 0.8);
    z-index: 100;
}