@charset "utf-8";

.mapcontainar{
    padding: 30px;
    padding-top: 0px;
    width: 100%;
}
#map{
    height: 700px;
}


html,
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px 100px 15px 100px;
    background: rgba(195, 220, 197, 0.8);
    z-index: 100;
}

.nearToiletContainar{
    margin: 0;
    padding: .6em 0 .4em;
    padding-top: 100px;
}

.nearToilet{
    background-color: rgb(3, 3, 59);
    padding: 1em;
    border-bottom: solid 1px #3c096e;
    cursor: pointer;
}
.nearVending{
    background-color: rgb(3, 3, 59);
    padding: 1em;
    border-bottom: solid 1px #3c096e;
    cursor: pointer;
}

.search_tab{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 0;
    list-style: none;
}
.search_tab li{
    position: relative;
    width: 49.6%;
    padding: 1em .7em;
    box-sizing: border-box;
    background-color: rgb(199, 174, 224);
    font-size: 114%;
    cursor: pointer;
}

/* 最初のアイコンなどを変更 */
.search_tab li:first-child::before{
    right: inherit;
    left: .8em;
    background-color: blueviolet;
}

/* 前側には何もなし */
.search_tab li::before{
    content: "";
}

.search_tab li::after{
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    right: .6em;
    display: block;
    width: .9em;
    height: .5em;
    margin: auto;
    background: no-repeat center/110% url('../img/other/underTriangle.png');
}

.search_tab_content{
    position: relative;
}

.search_tab_content .search_toilet{
    background-color: rgb(93, 93, 196);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    display: none;
    margin: auto;
    padding: .7em;
    z-index: 100;
    color: #fff;
}
 .search_box-list {
    list-style: none;
    margin: 0;
    margin-top: 13.5vw;
    padding: 0;
    /* overflow: scroll; */
}

.search_tab_content .search_ATC{

    background-color: rgb(196, 93, 172);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    width: 90%;
    margin: auto;
    padding: .7em;
    z-index: 100;
    color: #fff;
}

.ttl{
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    display: block;
    padding: 1em 1.5em;
    margin: auto;
    font-size: 3.75vw;
}

@media screen and (max-width: 768px) {
    header{
        padding: 0.5em;
    }
    header h3{
        font-size: 10px;
    }
    .mapcontainar{
        padding: 10px;
    }
    .nearToiletContainar{
        margin: 0;
        padding: .6em 0 .4em;
        padding-top: 80px;
    }
    /* #search_tab{
        
    } */
}